{{ form_start(formPassword) }}
    {{ form_row(formPassword._password, {
        'label': 'Current Password'
    }) }}
    {{ form_row(formPassword.plainPassword.first, {
        'label': 'New Password'
    }) }}
    {{ form_row(formPassword.plainPassword.second, {
        'label': 'Repeat New Password'
    }) }}

    <button type="submit" class="btn btn-success">Save</button>
{{ form_end(formPassword) }}
