{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/myAccount.css') }}"/>
{% endblock %}

{% block body %}
<table class="table table-striped">
    <h1 style="margin-bottom: 50px; margin-left: 45%;">My Account</h1>
    <tbody>
        <tr>
            <td class="username">Username:</td>
            <td class="username-text">{{ user.username }}</td>
            <td><a href="#" id="username-edit" title="Edit Username"><span class="fa fa-pen-alt actions" id="account-span">&nbsp;</span></a> </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <div id="edit-username" class="col-12">
                    {{ include('MyAccount/_editUsernameForm.html.twig') }}

                </div>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="username">Password</td>
            <td class="username-text">*****</td>
            <td><a href="#" id="password-edit" title="Edit Password"><span class="fa fa-pen-alt actions" id="password-span">&nbsp;</span></a> </td>
        </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <div id="edit-password">
                {{ include('MyAccount/_editPassword.html.twig') }}
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="username">Roles</td>
        <td class="username-text">
            {% for role in user.roles %}
                {{ role }}
            {% endfor %}
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr>
        <td class="username">Avatar:</td>
        <td class="username-text">
            <img src="{{ asset('images/avatars/') }}{{ user.imageName }}" alt="User Avatar" title="User Avatar" id="user_avatar"/>
        </td>
        <td>
            <a href="#" id="avatar-edit"><span class="fa fa-pen-alt actions" id="avatar-span" title="Change Avatar">&nbsp;</span></a>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <div id="edit-avatar">
                {{ include('MyAccount/_editAvatar.html.twig') }}
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="username">Genus Created:</td>
        <td class="username-text">
            <a href="{{ path('user_genus_show',{'id': user.id}) }}" class="actions">{{ user.amountOfGenus }}</a>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr>
        <td class="username">SubFamilies Created:</td>
        <td class="username-text">
            <a href="{{ path('user_subFamily_show', {'id': user.id}) }}" class="actions">{{ user.amountOfSubFamilies }}</a>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr>
        <td class="username">Notes Created:</td>
        <td class="username-text">
            <a href="{{ path('user_show_notes', {'id': user.id}) }}" class="actions">{{ user.amountOfNotes }}</a>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr>
        <td class="username">Total Creations</td>
        <td class="username-text">{{ user.totalAmountOfCreatedObjects }}</td>
        <td>&nbsp;</td>
    </tr>
    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr>
        <td class="username">Created At:</td>
        <td class="username-text">{{ user.createdAt | date('M d Y H i s') }}</td>
        <td>&nbsp;</td>
    </tr>
    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr>
        <td class="username">Updated At:</td>
        <td class="username-text">{{ user.updatedAt | date('M d Y H i s') }}</td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#username-edit').on('click',function (e) {
           e.preventDefault();
           $('#edit-username').toggleClass('edit-username-activate');
           $('#account-span').toggleClass('fa-pen-alt');
           $('#account-span').toggleClass('fa-window-close');
        });
        $('#avatar-edit').on('click',function (e) {
           e.preventDefault();
           $('#edit-avatar').toggleClass('edit-avatar-activate');
           $('#avatar-span').toggleClass('fa-pen-alt');
           $('#avatar-span').toggleClass('fa-window-close');
        });
        $('#password-edit').on('click',function (e) {
           e.preventDefault();
           $('#edit-password').toggleClass('edit-password-activate');
           $('#password-span').toggleClass('fa-pen-alt');
           $('#password-span').toggleClass('fa-window-close');
        });
    </script>
{% endblock %}
