<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AquaNote{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
{#            <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.css') }}"/>#}
            <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/jquery-confirm.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/all.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/header.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/side-menu.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/sub-menu.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/footer.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body hidden>
    <header>
        <a href="#" id="main-logo"><img src="{{ asset('images/aquanote-logo.png') }}" alt="Main Logo" title="Main Logo"/></a>
        <a href="{{ path('homepage') }}" id="header-text">AquaNote</a>
        {% if is_granted('ROLE_USER') %}
        <a class="btn btn-light login-button" href="{{ path('security_logout') }}">Logout</a>
        <a id="username">{{ app.user.username }}</a>
        {% else %}
         <a class="btn btn-light login-button" href="{{ path('user_register') }}">Register</a>
        <a class="btn btn-light login-button" href="{{ path('security_login') }}">Login</a>
        {% endif %}
    </header>
    <menu>
        <ul>
            <a href="{{ path('homepage') }}" class="menu-anchor">
                <li class="menu-item">
                        <span class="fa fa-home side-menu-item">&nbsp;</span>
                        <menu-text class="side-menu-text">Home</menu-text>

                </li>
            </a>
            <a class="menu-anchor">
                <li class="menu-item" id="side-menu-genus">
                    <span class="fa fa-fish side-menu-item" >&nbsp;</span>
                    <menu-text class="side-menu-text">Genus</menu-text>
                </li>
            </a>
            <a class="menu-anchor">
                <li class="menu-item" id="side-menu-sub-family">
                    <span class="fa fa-water side-menu-item">&nbsp;</span>
                    <menu-text class="side-menu-text">SubFamily</menu-text>
                </li>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="menu-anchor">
                <li class="menu-item" id="side-menu-notes">
                    <span class="fa fa-book-open side-menu-item">&nbsp;</span>
                    <menu-text class="side-menu-text">Notes</menu-text>
                </li>
            </a>
            <a class="menu-anchor">
                <li class="menu-item" id="side-menu-user">
                    <span class="fa fa-user side-menu-item" style="margin-left: 15px">&nbsp;</span>
                    <menu-text class="side-menu-text" style="margin-left: 56px">User</menu-text>
                </li>
            </a>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <a class="menu-anchor" href="{{ path('account_index') }}">
                    <li class="menu-item" id="side-menu-account">
                        <span class="fa fa-user-circle side-menu-item">&nbsp;</span>
                        <menu-text class="side-menu-text">MyAccount</menu-text>
                    </li>
                </a>
            {% endif %}
        </ul>
    </menu>
    <div class="sub-menu genus">
        <ul>
            <a href="{{ path('genus_list') }}" class="sub-menu-anchor"><li class="sub-menu-item">List</li></a>
            {% if is_granted('ROLE_USER') %}
            <a href="{{ path('genus_new') }}" class="sub-menu-anchor"><li class="sub-menu-item">New</li></a>
            {% else %}
            <a href="#" class="sub-menu-anchor"><li class="sub-menu-item lock-item"><span class="fa fa-lock sub-menu-icon">&nbsp;</span>New</li></a>
            {% endif %}
        </ul>
    </div>
    <div class="sub-menu sub-family" style="top: 62px;">
        <ul>
            <a href="{{ path('subfamily_list') }}" class="sub-menu-anchor"><li class="sub-menu-item">List</li></a>
            {% if is_granted('ROLE_USER') %}
            <a href="{{ path('family_new') }}" class="sub-menu-anchor"><li class="sub-menu-item">New</li></a>
            {% else %}
            <a href="#" class="sub-menu-anchor"><li class="sub-menu-item lock-item"><span class="fa fa-lock sub-menu-icon">&nbsp;</span>New</li></a>
            {% endif %}
        </ul>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="sub-menu notes" style="top: 124px;">
        <ul>
            <a href="{{ path('notes_list') }}" class="sub-menu-anchor"><li class="sub-menu-item">List</li></a>
            <a href="{{ path('note_new') }}" class="sub-menu-anchor"><li class="sub-menu-item">New</li></a>
        </ul>
    </div>
    <div class="sub-menu user" style="top: 186px;">
        <ul>
            <a href="{{ path('user_list') }}" class="sub-menu-anchor"><li class="sub-menu-item">List</li></a>
            <a href="{{ path('user_new') }}" class="sub-menu-anchor"><li class="sub-menu-item">New</li></a>
        </ul>
    </div>
    {% endif %}
    <main class="container">
        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success" style="margin-left: 150px;">
                {{ msg }}
            </div>
        {% endfor %}
        {% for msg in app.session.flashBag.get('danger') %}
            <div class="alert alert-danger" style="margin-left: 150px;">
                {{ msg }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </main>
{#    <footer>#}
{#        <a href="{{ path('homepage') }}"><span class="fa fa-home footer-icon">&nbsp;</span><footer-text>Home</footer-text></a>#}
{#        <a href="{{ path('genus_list') }}" class="footer-genus"><span class="fa fa-fish footer-icon">&nbsp;</span><footer-text>Genus</footer-text></a>#}
{#        <a href="{{ path('subfamily_list') }}" class="footer-subFamily"><span class="fa fa-water footer-icon">&nbsp;</span><footer-text>SubFamily</footer-text></a>#}
{#        <a href="{{ path('notes_list') }}" class="footer-notes"><span class="fa fa-book-open footer-icon">&nbsp;</span><footer-text>Notes</footer-text></a>#}
{#    </footer>#}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-confirm.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/all.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/side-menu.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/sub-menu.js') }}"></script>
        {% endblock %}
    </body>
</html>
