{{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.subFamily) }}
                    {{ form_row(form.firstDiscoveredAt) }}
                    {{ form_row(form.speciesCount) }}
                    {{ form_row(form.funFact) }}
{% if url == correctUrl %}
    <a href="{{ path('genus_list') }}" class="btn btn-dark">Back</a>
{% else %}
    <a href="{{ url }}" class="btn btn-dark">Back</a>
{% endif %}<button type="submit" class="btn btn-success">Save</button>
{{ form_end(form) }}
