{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center">Genus</h1>
<div class="search">
    <label>Search
        <input type="text" id="search" class="form-control" value="{{ filter }}"/>
    </label>
    <label>
        <select id="choice" class="form-control">
            {% if choice == 1 %}
                <option value="1" selected>All</option>
            {% else %}
                <option value="1">All</option>
            {% endif %}
            {% if choice == 2 %}
                <option value="2" selected>Name</option>
            {% else %}
                <option value="2">Name</option>
            {% endif %}
            {% if choice == 3 %}
                <option value="3" selected>SubFamily</option>
            {% else %}
                <option value="3">SubFamily</option>
            {% endif %}
            {% if choice == 4 %}
                <option value="4" selected>User</option>
            {% else %}
                <option value="4">User</option>
            {% endif %}
            {% if choice == 5 %}
                <option value="5" selected>Amount of Species</option>
            {% else %}
                <option value="5">Amount of Species</option>
            {% endif %}
            {% if choice == 6 %}
                <option value="6" selected>Discovered At</option>
            {% else %}
                <option value="6">Discovered At</option>
            {% endif %}
            {% if choice == 7 %}
                <option value="7" selected>Amount of Notes</option>
            {% else %}
                <option value="7">Amount of Notes</option>
            {% endif %}
        </select>
    </label>
    <label>
        <select id="how" class="form-control">
            {% if how == 1 %}
                <option value="1" selected>Anywhere</option>
            {% else %}
                <option value="1">Anywhere</option>
            {% endif %}
            {% if how == 2 %}
                <option value="2" selected>Starting With</option>
            {% else %}
                <option value="2">Starting With</option>
            {% endif %}
            {% if how == 3 %}
                <option value="3" selected>Ending With</option>
            {% else %}
                <option value="3">Ending With</option>
            {% endif %}
            {% if how == 4 %}
                <option value="4" selected>Exact Word</option>
            {% else %}
                <option value="4">Exact Word</option>
            {% endif %}
        </select>
    </label>
    <a href="{{ path('genus_list') }}" class="btn btn-primary" id="search-button">Search</a>
    <a href="{{ path('genus_list') }}">Clear Filters</a>
    {% if is_granted('ROLE_USER') %}
    <a href="{{ path('genus_new') }}" class="btn btn-primary btn-new">New</a>
    {% endif %}

</div>
    <table class="table table-borderless" id="genus-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>SubFamily</th>
                <th>Created By</th>
                <th>Amount of species</th>
                <th>Discovered At</th>
                <th>Amount of notes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genus in genuses %}
            <tr>
                <td>{{ genus.name }}</td>
                <td>{{ genus.subFamily.name }}</td>
                <td>{{ genus.user.username }}</td>
                <td>{{ genus.speciesCount }}</td>
                <td>{{ genus.firstDiscoveredAt | date('Y-m-d') }}</td>
                <td>{{ genus.amountOfNotes }}</td>
                <td>
                    <a href="{{ path('genus_show', {'id': genus.id}) }}" title="Show Genus"><span class="fa fa-eye actions">&nbsp;</span></a>
                    {% if is_granted('ROLE_USER') %}
                    {% if is_granted('ROLE_ADMIN') or genus.user.username == app.user.username %}
                        | <a href="{{ path('genus_edit', {'id': genus.id}) }}" title="Edit Genus"><span class="fa fa-pen actions">&nbsp;</span></a>
                        | <a href="{{ path('genus_delete', {'id': genus.id}) }}" class="delete-genus" title="Delete Genus"><span class="fa fa-trash-alt actions">&nbsp;</span></a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('update_everything', {'url': 'genus'}) }}">Update Amount of Notes</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.delete-genus').on('click',function (e) {
            e.preventDefault();
            let link = $(this).attr('href');
            $.confirm({
                title: 'Delete Genus',
                content: 'Are you sure you want to delete this genus its notes will be deleted as well',
                buttons: {
                    Confirm: {
                        text: 'Delete Genus',
                        btnClass: 'btn btn-primary',
                        keys: ['shift'],
                        action: function () {
                            location.href = link;
                        }
                    },
                    Cancel: {
                        text: 'Cancel',
                        btnClass: 'btn btn-light',
                        keys: ['enter'],
                        action: function () {

                        }
                    }
                }
            })
        });
        $('#search-button').on('click',function (e) {
            e.preventDefault();
            let filter = $('#search').val();
            let choice = $('#choice').val();
            let how = $('#how').val();

            location.href = $('#search-button').attr('href') + '?filter=' + filter + '&choice=' + choice + '&how=' + how;
        });
        $('#genus-table').DataTable({
            info: false,
            searching: false,
            pageLength: 5,
            lengthChange: false,
            aaSorting: []
        });
    </script>
{% endblock %}
