{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Notes from user {{ user.username }}</h1>

                <table class="table table-striped display" id="user_notes-table">
                    <thead class="table-dark">
                        <tr>
                            <th>Note</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for note in user.note %}
                        <tr>
                            <td>
                                <label>
                                    <textarea class="form-control" style="border: 0; background-color: #f2f2f2; color: black;">{{ note.note }}</textarea>
                                </label>
                            </td>
                            <td>
                                <a href="{{ path('note_delete',{'id': note.id}) }}" class="delete-genus">Delete</a>
                            </td>
                            <td>
                                <a href="{{ path('note_edit', {'id': note.id}) }}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('user_list') }}" class="btn btn-dark">Back</a>
                <a href="{{ path('user_notes_delete', {'id': user.id}) }}" class="btn btn-danger delete-genus">Delete All</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#user_notes-table').DataTable({
            searching: false,
            info: false,
            pageLength: 10,
            lengthChange: false,
            aaSorting: false
        });
    </script>
    <script>
        $('.delete-genus').on('click',function (e) {
            let link = $(this).attr('href');
            e.preventDefault();
            $.confirm({
                title: 'Delete Note',
                content: 'Are you sure you want to delete this Note',
                buttons: {
                    Confirm: {
                        text: 'Delete Note',
                        btnClass: 'btn btn-primary',
                        keys: ['shift'],
                        action: function () {
                            location.href = link;
                        },
                    },

                    Cancel: {
                        text: 'Cancel',
                        btnClass: 'btn btn-light',
                        keys: ['enter'],
                        action: function () {

                        }
                    }
                }
            });
        });
    </script>
{% endblock %}

