{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center">List</h1>
    <div class="search">
        <label>Search
            <input type="text" class="form-control" id="search"/>
        </label>
        <label>
            <select class="form-control" id="choice">
                <option value="1">All</option>
                <option value="2">Genus</option>
                <option value="3">User</option>
                <option value="4">Note</option>
            </select>
        </label>
        <label>
            <select class="form-control" id="how">
                <option value="1">Anywhere</option>
                <option value="2">Starting With</option>
                <option value="3">Ending With</option>
                <option value="4">Exact Word</option>
            </select>
        </label>
        <a href="{{ path('notes_list') }}" class="btn btn-primary" id="search-button">Search</a>
        <a href="{{ path('notes_list') }}">Clear Filters</a>
    </div>
<table class="table table-borderless" id="notes-table">
    <thead>
        <tr>
            <th>Genus</th>
            <th>Created By</th>
            <th>Note</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ note.genus.name }}</td>
                <td>{{ note.user.username }}</td>
                <td><label>
                        <textarea style="color: black; background-color: #FFFFFF; border: none;" class="form-control" readonly>{{ note.note }}</textarea>
                    </label>
                </td>
                <td></td>
            </tr>
       {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#notes-table').DataTable({
            info: false,
            searching: false,
            pageLength: 5,
            lengthChange: false,
            aaSorting: []
        });
    </script>
    <script>
        $('#search-button').on('click', function (e) {
            e.preventDefault();

            let filter = $('#search').val();
            let choice = $('#choice').val();
            let how    = $('#how').val();

            location.href = $('#search-button').attr('href') + '?filter=' + filter + '&choice=' + choice + '&how=' + how;
        })
    </script>
{% endblock %}
