{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center" style="margin-bottom: 25px;">SubFamily {{ subFamily.name }}</h1>

                <table class="table table-borderless" style="margin-left: 30%;">
                    <tr>
                        <th>Name:</th>
                        <td>{{ subFamily.name }}</td>
                    </tr>
                    <tr>
                        <th>Created By:</th>
                        <td>{{ subFamily.user.username }}</td>
                    </tr>
                    <tr>
                        <th>Description:</th>
                        <td>
                            <label>
                                <textarea class="form-control" readonly style="color: black; background-color: #FFFFFF;">{{ subFamily.description }}</textarea>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>Created At:</th>
                        <td>{{ subFamily.createdAt | date('M d Y') }}</td>
                    </tr>
                    <tr>
                        <th>Updated At:</th>
                        <td>{{ subFamily.updatedAt | date('M d Y') }}</td>
                    </tr>
                </table>

                <a class="btn btn-dark" href="{{ path('subfamily_list') }}" style="margin-left: 30%;">Back</a>
                {% if is_granted('ROLE_USER') %}
                    {% if is_granted("ROLE_ADMIN") or user.username == subFamily.user.username %}
                        <a class="btn btn-primary" href="{{ path('family_edit', {'id': subFamily.id}) }}">Edit</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
